<div class="container1 bg-mywhite">

    <nav>
        <app-entete></app-entete>
    </nav>

    <div id="sidebar">
        <app-menu></app-menu>
    </div>

    <main class="bg-mywhite">

        <div class="container p-2">

            <!-- --------------------FORMULAIRES------------------------------------------------------ -->
            <div class="container">

                <!-- --------------------BORDEREAU LIVRAISON------------------------------------------------------ -->
                <div class="container">
                    <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                        Bordereau livraison
                    </div>

                    <form class="container px-3 py-2">

                        <div class="row g-4 mb-3">
                            <div class="col-3 mx-auto">
                                <span class="fw-bold">N° bordereau</span>
                                <div class="text-input"> {{ bonEntree?.identifiantBL?.numeroBL }} </div>
                            </div>

                            <div class="col-3 mx-auto">
                                <span class="fw-bold">Date bordereau</span>
                                <div class="text-input text-uppercase">
                                    <!-- {{ bonEntree!.identifiantBL!.dateBL }}  -->
                                    {{ myDateStringFormatter(bonEntree?.identifiantBL?.dateBL) }}
                                </div>
                            </div>

                            <div class="col-3 mx-auto">
                                <span class="fw-bold">Lieu de livraison</span>
                                <div class="text-input text-uppercase"> {{ bonEntree?.identifiantBL?.lieuDeLivraison }} </div>
                            </div>
                        </div>

                        <div class="row g-4 mb-3">
                            <div class="col-3 mx-auto">
                                <span class="fw-bold">Représentant prestataire</span>
                                <div class="text-input text-uppercase"> {{ bonEntree?.identifiantBL?.representantPrestataire }} </div>
                            </div>

                            <div class="col-7 mx-auto">
                                <span class="fw-bold">Prestataire</span>
                                <div class="text-input text-uppercase"> {{ bonEntree?.identifiantBL?.ninea ? bonEntree?.identifiantBL?.ninea?.raisonSociale : '---' }} </div>
                            </div>

                        </div>

                        <div class="row g-4 mb-3">

                            <div class="col-11 mx-auto">
                                <span class="fw-bold">Description bordereau</span>
                                <div class="text-input text-uppercase"> {{ bonEntree?.identifiantBL?.descriptionBL }} </div>
                            </div>

                        </div>

                    </form>
                </div>


                <!-- ------------------BON ENTREE-------------------------------------------------------- -->
                <div class="container">
                    <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                        Bon entrée
                    </div>

                    <form class="container px-3 py-2">

                        <div class="row g-4 mb-3">
                            <div class="col-3 mx-auto">
                                <span class="fw-bold">N° bon d'entrée</span>
                                <div class="text-input"> {{ bonEntree?.numeroBE }} </div>
                            </div>

                            <div class="col-3 mx-auto">
                                <span class="fw-bold">Date bon d'entrée</span>
                                <div class="text-input text-uppercase">
                                    <!-- {{ bonEntree!.dateBonEntree }}  -->
                                    {{ myDateStringFormatter(bonEntree?.dateBonEntree) }}
                                </div>
                            </div>

                            <div class="col-3 mx-auto">
                            </div>
                        </div>

                        <div class="row g-4 mb-3">
                            <div class="col-11 mx-auto">
                                <span class="fw-bold">Libellé bon d'entrée</span>
                                <div class="text-input text-uppercase"> {{ bonEntree?.libelleBonEntree }} </div>
                            </div>
                        </div>

                        <div class="row g-4 mb-3">
                            <div class="col-11 mx-auto">
                                <span class="fw-bold">Observation bon d'entrée</span>
                                <div class="text-input text-uppercase"> {{ bonEntree?.observationBonEntree }} </div>
                            </div>
                        </div>

                    </form>


                    <div class="container px-3 py-2">
                        <div class="row">
                            <div class="col-12 text-end">
                                <!-- <button type="button" class="btn btn-mybrown me-2">Supprimer</button>

                                <button (click)="popupAjouterArticleBonEntreeVehicule()" type="button" class="btn btn-mysecondary fw-bold mx-2"
                                    data-bs-toggle="tooltip" title="cliquer ici pour ajouter artticle">
                                    Ajouter véhicule
                                </button>

                                <button type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                                    title="cliquer ici pour modifier">
                                    Modifier
                                </button> -->

                                <button [routerLink]="'/consultation-reception-vehicule'" type="button" class="btn btn-mysecondary fw-bold mx-2"
                                    data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                                    Retour
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ----------------LISTES--------------------------------------------------------- -->

            <!-- ------------------VEHICULE-------------------------------------------------------- -->
            <div class="container">
                <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                    Listes des véhicules
                </div>

                <div class="container px-3 py-2 mt-1">
                    <div class="mat-elevation-z8">

                        <!-- <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter"> -->
                        <table mat-table [dataSource]="dataSource">
                                <!-- Define columns and cells for IVehicule properties -->
                            <ng-container *ngFor="let column of displayedColumns let i = index" [matColumnDef]="column">
                                <th mat-header-cell *matHeaderCellDef class="fw-bold" [style.display]="columnsToHide.includes(column) ? 'none' : 'table-cell'">
                                    {{ displayedColumnsCustom[i] }}
                                </th>

                                <td mat-cell *matCellDef="let element" (click)="popupDetail(element)" style="cursor: pointer;"
                                    [style.display]="columnsToHide.includes(column) ? 'none' : 'table-cell'">

                                    <!-- Check if the current column is the "N°" column -->
                                    <!-- <ng-container *ngIf="columnsDateFormat.includes(column) || columnsToCodeMarque.includes(column) || columnsToCodePays.includes(column); else normalCell">
                                        <ng-container *ngIf="columnsDateFormat.includes(column)">
                                            {{ element[column] | date: 'dd MMM yy' | uppercase }}
                                        </ng-container>
                                        <ng-container *ngIf="columnsToCodeMarque.includes(column)">
                                            {{ element[column].libelleMarque }}
                                        </ng-container>
                                        <ng-container *ngIf="columnsToCodePays.includes(column);">
                                            {{ element[column].libellePays }}
                                        </ng-container>
                                    </ng-container> -->
                                    <ng-container *ngIf="columnsDateFormat.includes(column); else normalCell">
                                        {{ element[column] | date: 'dd MMM yy' | uppercase }}
                                    </ng-container>
                                    <ng-template #normalCell>
                                        {{ element[column] }}
                                    </ng-template>

                                </td>
                            </ng-container>

                            <!-- Header row -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <!-- Data rows -->
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of vehicles">
                        </mat-paginator>

                    </div>
                </div>
            </div>
        </div>

    </main>


</div>
