<div class="container1 bg-mywhite">

    <nav>
        <app-entete></app-entete>
    </nav>

    <div id="sidebar">
        <app-menu></app-menu>
    </div>

    <main class="bg-mywhite">

        <div class="container p-2">

            <!-- --------------------FORMULAIRES------------------------------------------------------ -->
            <div class="container">

                <!-- ------------------BON POUR-------------------------------------------------------- -->
                <div class="container">
                    <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                        Bon pour
                    </div>

                    <form class="container px-3 py-2">
                        <div class="row mb-3">
                            <div class="col-12" *ngIf="tousPrivileges">
                                <div class="row g-4 mb-3">
                                    <div class="col-3 mx-auto">
                                        <span class="fw-bold">N° courrier origine</span>
                                        <div class="text-input"> {{ bonPour?.numeroCourrielOrigine }} </div>
                                    </div>
                
                                    <div class="col-3 mx-auto">
                                        <span class="fw-bold">Date courrier origine</span>
                                        <div class="text-input text-uppercase">
                                            {{ myDateStringFormatter(bonPour?.dateCourrielOrigine) }}
                                        </div>
                                    </div>
                
                                    <div class="col-3 mx-auto">
                                        <span class="fw-bold">Etat bon pour</span>
                                        <div class="text-input"> {{ bonPour?.etatBonPour }} </div>
                                    </div>
                
                                    <div class="col-3 mx-auto form-group">
                                    </div>
                                </div>
                
                                <div class="row g-4 mb-3">
                                    <div class="col-6 mx-auto form-group">
                                        <span class="fw-bold">Unité douanière</span>
                                        <div class="text-input"> {{ bonPour?.codeUniteDouaniere?.nomUniteDouaniere }} </div>
                                    </div>
                
                
                                    <div class="col-3">
                                    </div>
                
                                    <div class="col-3">
                                    </div>
                                </div>
                
                                <div class="row g-4 mb-3">
                                    <div class="col-12 mx-auto form-group">
                                        <span class="fw-bold">Object Courrier origine</span>
                                        <div class="text-input"> {{ bonPour?.objectCourrielOrigine }} </div>
                                    </div>
                                </div>
                
                                <div class="row g-4 mb-3">
                                    <div class="col-12 mx-auto form-group">
                                        <span class="fw-bold">Description bon pour</span>
                                        <div class="text-input"> {{ bonPour?.descriptionBonPour }} </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class=" row g-4 mb-3 text-center fw-bolder bg-myprimary mt-1 py-1">
                        </div> -->
                        <!-- --------------------------------------------------------------------------------- -->
                        <div *ngIf="tousPrivileges && !(bonPour?.numeroArriveDLF == null)" class="row mb-3 text-center fw-bolder bg-myprimary mt-1 py-1" role="alert">
                        </div>
                        <!-- --------------------------------------------------------------------------------- -->


                        <div class="row g-5 mb-3">
                            <div class="col-6" *ngIf="tousPrivileges && !(bonPour?.numeroArriveDLF == null)">
                                <div class="row p-2 border rounded-3 border-myprimary">
                                    <div class="col-12 fs-5 fw-bold border-bottom border-solid border-1 border-myprimary mb-2" *ngIf="tousPrivileges && !(bonPour?.numeroArriveDLF == null)">
                                        PARTIE DLF
                                    </div>
                                    <div class="col-6 mx-auto form-group">
                                        <span class="fw-bold">N° arrivée DLF</span>
                                        <div class="text-input"> {{ bonPour?.numeroArriveDLF }} </div>
                                    </div>
                
                                    <div class="col-6 mx-auto form-group">
                                        <span class="fw-bold">Date arrivée DLF</span>
                                        <div class="text-input text-uppercase">
                                            {{ myDateStringFormatter(bonPour?.dateArriveDLF) }}
                                        </div>
                                    </div>
        
                                    <div class="col-12 mx-auto form-group">
                                        <span class="fw-bold">Observation DLF</span>
                                        <div class="text-input"> {{ bonPour?.observationDLF }} </div>
                                    </div>
                                </div>
                            </div>
        
                            <!-- -------------------------------------------------------------------------------- -->
        
                            <div class="col-6" *ngIf="tousPrivileges && !(bonPour?.numeroArriveBLM == null)">
                                <div class="row p-2 border rounded-3 border-myprimary">
                                    <div class="col-12 fs-5 fw-bold border-bottom border-solid border-1 border-myprimary mb-2" *ngIf="tousPrivileges && !(bonPour?.numeroArriveBLM == null)">
                                        PARTIE BLM
                                    </div>
                                    <div class="col-6 mx-auto form-group">
                                        <span class="fw-bold">N° arrivée BLM</span>
                                        <div class="text-input"> {{ bonPour?.numeroArriveBLM }} </div>
                                    </div>
                
                                    <div class="col-6 mx-auto form-group">
                                        <span class="fw-bold">Date arrivée BLM</span>
                                        <div class="text-input text-uppercase">
                                            {{ myDateStringFormatter(bonPour?.dateArriveBLM) }}
                                        </div>
                                    </div>
        
                                    <div class="col-12 mx-auto form-group">
                                        <span class="fw-bold">Observation BLM</span>
                                        <div class="text-input"> {{ bonPour?.observationBLM }} </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-5">
                            <div class="col-6" *ngIf="tousPrivileges && !(bonPour?.numeroArriveSection == null)">
                                <div class="row p-2 border rounded-3 border-myprimary">
                                    <div class="col-12 fs-5 fw-bold border-bottom border-solid border-1 border-myprimary mb-2" *ngIf="tousPrivileges && !(bonPour?.numeroArriveSection == null)">
                                        PARTIE SECTION
                                    </div>
                                    <div class="col-6 mx-auto form-group">
                                        <span class="fw-bold">N° arrivée section</span>
                                        <div class="text-input"> {{ bonPour?.numeroArriveSection }} </div>
                                    </div>
                
                                    <div class="col-6 mx-auto form-group">
                                        <span class="fw-bold">Date arrivée section</span>
                                        <div class="text-input text-uppercase">
                                            {{ myDateStringFormatter(bonPour?.dateArriveSection) }}
                                        </div>
                                    </div>
        
                                    <div class="col-12 mx-auto form-group">
                                        <span class="fw-bold">Observation section</span>
                                        <div class="text-input"> {{ bonPour?.observationSection }} </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-6">
                            </div>
                        </div>
                    </form>

                    <div class="container px-3 py-2">
                        <div class="row">
                            <div class="col-12 text-end">
                                <button type="button" [hidden]="!estBAF" class="btn btn-mybrown me-2">Supprimer</button>

                                <!-- <button type="button" class="btn btn-mysecondary fw-bold mx-2"
                                  data-bs-toggle="tooltip" title="cliquer ici pour transmettre  l'article">
                                  Transmettre
                                </button> -->

                 
                                <button (click)="popupValiderTransmettreArticles(bonPour)" [hidden]="!estBAF || bonPour?.etatBonPour != BAF" type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                                    title="cliquer ici pour modifier">
                                    Transmettre
                                </button>

                                <button (click)="popupAjouterArticle(bonPour)" [hidden]="!estBAF || bonPour?.etatBonPour != BAF" type="button" class="btn btn-mysecondary fw-bold mx-2"
                                    data-bs-toggle="tooltip" title="cliquer ici pour ajouter article">
                                    Ajouter article
                                </button>

                                <button (click)="popupModifierBonPour(bonPour)" [hidden]="!estBAF" type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                                    title="cliquer ici pour modifier">
                                    Modifier
                                </button>

                                <button [routerLink]="'/ajouter-bon-pour'" type="button" class="btn btn-mysecondary fw-bold mx-2"
                                    data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                                    Retour
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ----------------LISTES--------------------------------------------------------- -->

            <!-- ------------------VEHICULE-------------------------------------------------------- -->
            <div class="container">
                <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                    Listes d'articles
                </div>

                <div class="container px-3 py-2 mt-1">
                    <div class="mat-elevation-z8">

                        <!-- <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter"> -->
                        <table mat-table [dataSource]="dataSource">
                                <!-- Define columns and cells for IVehicule properties -->
                            <ng-container *ngFor="let column of displayedColumns let i = index" [matColumnDef]="column">
                                <th mat-header-cell *matHeaderCellDef class="fw-bold" [style.display]="columnsToHide.includes(column) ? 'none' : 'table-cell'">
                                    {{ displayedColumnsCustom[i] }}
                                </th>

                                <td mat-cell *matCellDef="let element" (click)="popupDetail(element)" style="cursor: pointer;"
                                    [style.display]="columnsToHide.includes(column) ? 'none' : 'table-cell'">

                                    <!-- Check if the current column is the "N°" column -->
                                    <!-- <ng-container *ngIf="columnsDateFormat.includes(column) || columnsToCodeMarque.includes(column) || columnsToCodePays.includes(column); else normalCell">
                                        <ng-container *ngIf="columnsDateFormat.includes(column)">
                                            {{ element[column] | date: 'dd MMM yy' | uppercase }}
                                        </ng-container>
                                        <ng-container *ngIf="columnsToCodeMarque.includes(column)">
                                            {{ element[column].libelleMarque }}
                                        </ng-container>
                                        <ng-container *ngIf="columnsToCodePays.includes(column);">
                                            {{ element[column].libellePays }}
                                        </ng-container>
                                    </ng-container> -->
                                    <ng-container *ngIf="columnsDateFormat.includes(column); else normalCell">
                                        {{ element[column] | date: 'dd MMM yy' | uppercase }}
                                    </ng-container>
                                    <ng-template #normalCell>
                                        {{ element[column] }}
                                    </ng-template>

                                </td>
                            </ng-container>

                            <!-- Header row -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <!-- Data rows -->
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of vehicles">
                        </mat-paginator>

                    </div>
                </div>
            </div>
        </div>

    </main>


</div>
