<div class="container-fluid">
    <div class="row">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-2 d-flex align-items-center">
        <img src="../../assets/douanes.jpeg" alt="logo douanes sénégalaise" class="img-fluid" width="15%">
      </div>

  

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-2 d-flex align-items-center justify-content-end">
        <div ngbDropdown class="bg-mywhite rounded-pill" style="width: auto; height: auto; box-shadow: #aedd71 0px 10px 20px -10px, #aedd71 0px 10px 20px -15px, #aedd71 0px -2px 6px 0px inset;">
            <button class="btn btn-primary rounded-pill h-100 w-100 dropdown-button" ngbDropdownToggle id="dropdownMenuButton1">
              <img src="../../assets/user.png" alt="User" style="margin: 4px;">
              <span class="fw-bold mx-2">{{ utilisateur.matriculeAgent.prenomAgent }}</span>
            </button>
    
            <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" class="dropdown-menu1">
              <li><button class="dropdown-item1 fw-bold" type="button">Profil</button></li>
              <li><button class="dropdown-item1 fw-bold" type="button">Paramètres</button></li>
              <li><button routerLink="/deconnexion" class="dropdown-item1 fw-bold" type="button">Déconnexion</button></li>
            </ul>
        </div>
      </div>
    

    </div>
  </div>