<div class="card shadow">

  <ng-container *ngIf="afficherPopupDetail; else modifier">
      <div class="card-header text-center fw-bold bg-myprimary fs-5">
          Détail
      </div>

      <div class="card-body">

        <div class="container">

            <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                Section
            </div>

            <div class="container px-3 py-2">
                <form class="container px-3 py-2">

                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Code section </span>
                            <div class="text-input"> {{ section.codeSection }} </div>
                        </div>


                        <div class="col-7 mx-auto">
                            <span class="fw-bold">Libellé section</span>
                            <div class="text-input text-uppercase"> {{ section.libelleSection }} </div>
                        </div>
                    </div>


                </form>
            </div>
          </div>



            <div class="container px-3 py-2">
              <div class="row">
                  <div class="col-12 text-end">
                      <button  (click)="supprimerSections(section.codeSection)" type="button" class="btn btn-mybrown fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour supprimer">
                          Supprimer
                      </button>

                      <button (click)="popupModifier()"  type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour modifier">
                          Modifier
                      </button>

                      <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
                          data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                          Retour
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </ng-container>

  <ng-template #modifier>
      <div class="card-header text-center fw-bold bg-myprimary fs-5">
          Modifier Section
      </div>

      <div class="card-body">

          <div class="container px-3 py-2">
              <form class="form" #SectionForm="ngForm" (ngSubmit)="modifierSection(SectionForm)">

                  <div class="row g-4 mb-3">
                      <div class="col-3 mx-auto form-group">

                        <label for="codeSection" class="form-label fw-bold">Code section</label>
                        <input id="codeSection" type="text" name="codeSection" required [(ngModel)]="section.codeSection" class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">

                      </div>

                      <div class="col-7 mx-auto form-group">
                          <label for="libelleSection" class="form-label fw-bold">Libellé section</label>
                          <input id="libelleSection" type="text" name="libelleSection" required [(ngModel)]="section.libelleSection" class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                      </div>


                  </div>


                  <div class="row">
                      <div class="col-12 text-end">
                          <button type="submit" id="section-form" hidden class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
                              Valider
                          </button>
                      </div>
                  </div>

              </form>
          </div>

          <div class="container px-3 py-2">
              <div class="row">
                  <div class="col-12 text-end">
                      <button (click)="submitForm()" type="button" [disabled]="SectionForm.invalid" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour modifier">
                          Valider
                      </button>

                      <button (click)="PopupDetail()" type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                          Retour
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </ng-template>

</div>





