<div class="card shadow">

  <div class="card-header text-center fw-bold bg-myprimary fs-5">
      Ajouter
  </div>

  <div class="card-body">
      <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
       Fonction
      </div>

      <div class="container px-3 py-2">
          <!-- <app-bordereau-livraison-ajouter></app-bordereau-livraison-ajouter> -->
          <form class="form" #FonctionForm="ngForm" (ngSubmit)="ajouterFonction(FonctionForm)">

              <div class="row g-4 mb-3">
                  <div class="col-3 mx-auto form-group">
                      <label for="codeFonction" class="form-label fw-bold">Code</label>
                      <input id="codeFonction" type="text" name="codeFonction" required ngModel
                          class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                  </div>

                  <!-- <div class="col-3 mx-auto form-group">
                      <label for="dateBL" class="form-label fw-bold">Date bordereau</label>
                      <input type="date" name="dateBL" id="dateBL" ngbDatepicker #dp1="ngbDatepicker" (click)="dp1.toggle()" required ngModel class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                  </div> -->


                  <div class="col-3 mx-auto form-group">
                      <label for="libelleFonction" class="form-label fw-bold">Libellé fonction</label>
                      <input type="text" name="libelleFonction" id="libelleFonction" required ngModel
                          class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                  </div>

                  <div class="col-3 mx-auto form-group">

                  </div>



              </div>



              <div class="row">
                  <div class="col-12 text-end">
                      <button type="submit" [disabled]="FonctionForm.invalid" id="fonction-form" hidden
                          class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                          title="cliquer ici pour valider">
                          Valider
                      </button>
                  </div>
              </div>

          </form>
      </div>

      <div class="container px-3 py-2">
          <div class="row">
              <div class="col-12 text-end">
                  <button (click)="submitForm()" [disabled]="FonctionForm.invalid" type="button"
                      class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                      title="cliquer ici pour ajouter">
                      Valider
                  </button>

                  <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
                      data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                      Retour
                  </button>
              </div>
          </div>
      </div>
  </div>

</div>



