<div class="card shadow">

  <ng-container *ngIf="afficherPopupDetail; else modifier">
      <div class="card-header text-center fw-bold bg-myprimary fs-5">
          Détail
      </div>

      <div class="card-body">

        <div class="container">

            <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                Secteur activité
            </div>

            <div class="container px-3 py-2">
                <form class="container px-3 py-2">

                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Code</span>
                            <div class="text-input"> {{ secteurActivite.codeSecteurActivite }} </div>
                        </div>


                        <div class="col-7 mx-auto">
                            <span class="fw-bold">Libellé secteur activité</span>
                            <div class="text-input text-uppercase"> {{ secteurActivite.libelleSecteurActivite }} </div>
                        </div>
                    </div>


                </form>
            </div>
          </div>



            <div class="container px-3 py-2">
              <div class="row">
                  <div class="col-12 text-end">
                      <button  (click)="supprimerSecteurActivite(secteurActivite.codeSecteurActivite)" type="button" class="btn btn-mybrown fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour supprimer">
                          Supprimer
                      </button>

                      <button (click)="popupModifier()"  type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
                          Modifier
                      </button>

                      <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
                          data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                          Retour
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </ng-container>

  <ng-template #modifier>
      <div class="card-header text-center fw-bold bg-myprimary fs-5">
          Modifier secteur activité
      </div>

      <div class="card-body">

          <div class="container px-3 py-2">
              <form class="form" #SecteurActiviteForm="ngForm" (ngSubmit)="modifierSecteurActivite(SecteurActiviteForm)">

                  <div class="row g-4 mb-3">
                      <div class="col-3 mx-auto form-group">

                        <label for="codeSecteurActivite" class="form-label fw-bold">Code</label>
                        <input id="codeSecteurActivite" type="text" name="codeSecteurActivite" required [(ngModel)]="secteurActivite.codeSecteurActivite" class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">

                      </div>

                      <div class="col-7 mx-auto form-group">
                          <label for="libelleSecteurActivite" class="form-label fw-bold">Libellé secteur activité</label>
                          <input id="libelleSecteurActivite" type="text" name="libelleSecteurActivite" required [(ngModel)]="secteurActivite.libelleSecteurActivite" class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                      </div>


                  </div>


                  <div class="row">
                      <div class="col-12 text-end">
                          <button type="submit" id="secteur-activite-form" hidden class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour modifier">
                              Valider
                          </button>
                      </div>
                  </div>

              </form>
          </div>

          <div class="container px-3 py-2">
              <div class="row">
                  <div class="col-12 text-end">
                      <button (click)="submitForm()" type="button" [disabled]="SecteurActiviteForm.invalid" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour modifier">
                          Valider
                      </button>

                      <button (click)="PopupDetail()" type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                          Retour
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </ng-template>

</div>






