<div class="card shadow">

    <div class="card-header text-center fw-bold bg-myprimary fs-5">
        Détail
    </div>

    <div class="card-body">

        <div class="container" style="height: 500px; overflow-y: auto;">

            <!-- ------------------Article-------------------------------------------------------- -->
            <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                Article
            </div>

            <div class="container px-3 py-2">
                <form class="container px-3 py-2">
                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto">
                            <span class="fw-bold">Libellé article</span>
                            <div class="text-input text-uppercase"> {{ libelleArticleBonEntree }} </div>
                        </div>
                    </div>
                </form>
            </div>


            <!-- ------------------Véhicule-------------------------------------------------------- -->
            <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                Véhicule
            </div>

            <div class="container px-3 py-2">
                <app-vehicule-detail #dataVehicule></app-vehicule-detail>
            </div>

            <!-- ------------------Bon entrée-------------------------------------------------------- -->
            <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                Bon entrée
            </div>


            <div class="container px-3 py-2">
                <form class="container px-3 py-2">
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto">
                            <span class="fw-bold">N° bon entrée</span>
                            <div class="text-input text-uppercase"> {{ bonEntree.numeroBonEntree }} </div>
                        </div>

                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Date bon entree</span>
                            <div class="text-input text-uppercase"> 
                                <!-- {{ bonEntree.dateBonEntree | date: 'dd MMMM yyyy' | uppercase }}  -->
                            </div>
                        </div>

                        <div class="col-3 mx-auto">
                        </div>

                        <div class="col-3 mx-auto">
                        </div>

                    </div>
                </form>
            </div>

            <!-- ------------------Bordereau livraison-------------------------------------------------------- -->
            <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                Bordereau livraison
            </div>

            <div class="container px-3 py-2">
                <form class="container px-3 py-2">

                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto">
                            <span class="fw-bold">N° bordereau</span>
                            <div class="text-input text-uppercase"> {{ bonEntree.identifiantBordereauLivraison.numeroBordereauLivraison }} </div>
                        </div>

                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Date Bordereau</span>
                            <div class="text-input text-uppercase"> 
                                <!-- {{ bonEntree.identifiantBordereauLivraison.dateBordereauLivraison | date: 'dd MMMM yyyy' | uppercase }} -->
                            </div>
                        </div>

                        <div class="col-3 mx-auto">
                            <span class="fw-bold">Lieu de livraison</span>
                            <div class="text-input text-uppercase"> {{ bonEntree.identifiantBordereauLivraison.lieuDeLivraison }} </div>
                        </div>

                        <div class="col-3 mx-auto">
                        </div>
                    </div>

                </form>
            </div>

            <!-- ------------------Prestataire-------------------------------------------------------- -->
            <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
                Prestataire
            </div>

            <div class="container px-3 py-2">
                <form class="container px-3 py-2">
                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto">
                            <span class="fw-bold">Prestataire</span>
                            <div class="text-input text-uppercase"> {{ bonEntree.identifiantBordereauLivraison.ninea.raisonSociale }} </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- -------------------------------------------------------------------------- -->
        <div class="container px-3 py-2">
            <div class="row">
                <div class="col-12 text-end">
                    <!-- <button (click)="supprimerVehiculeById(numeroSerie)"  type="button" class="btn btn-mybrown fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour supprimer">
                        Supprimer
                    </button>

                    <button  type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
                        Modifier
                    </button> -->

                    <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
                        data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                        Retour
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
