<form class="container px-3 py-2">

    <div class="row g-4 mb-3">
        <div class="col-3 mx-auto">
            <span class="fw-bold">Ninea</span>
            <div class="text-input"> {{ prestataire.ninea }} </div>
        </div>

        <div class="col-3 mx-auto">
            <span class="fw-bold">Adresse</span>
            <div class="text-input text-uppercase"> {{ prestataire.adresse }} </div>
        </div>

        <div class="col-3 mx-auto">
            <span class="fw-bold">N° téléphone</span>
            <div class="text-input text-uppercase"> {{ prestataire.numeroTelephone }} </div>
        </div>
    </div>

    <div class="row g-4 mb-3">
        <div class="col-3 mx-auto">
            <span class="fw-bold">Email</span>
            <div class="text-input text-uppercase"> {{prestataire.adresseEmail}} </div>
        </div>

        <div class="col-7 mx-auto">
            <span class="fw-bold">Raison sociale</span>
            <div class="text-input text-uppercase"> {{ prestataire.raisonSociale }} </div>
        </div>

    </div>

</form>
