<div class="card shadow">

    <div class="card-header text-center fw-bold bg-myprimary fs-5">
        Ajouter Bon pour
    </div>

    <div class="card-body" style="max-height: 600px; overflow-y: auto;">

        <div class="container px-3 py-2">

            <form class="form" #BonPourForm="ngForm" (ngSubmit)="ajouterBonPour(BonPourForm)">

                <ng-container *ngIf="!bonPour; else bonPourAjouterInitialDetail">
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto form-group">
                            <label for="numeroCourrielOrigine" class="form-label fw-bold">N° courrier origine</label>
                            <input type="number" name="numeroCourrielOrigine" id="numeroCourrielOrigine" required
                                ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <label for="dateCourrielOrigine" class="form-label fw-bold">Date courrier origine</label>
                            <input type="text" name="dateCourrielOrigine" id="dateCourrielOrigine" autocomplete="off"
                                ngbDatepicker #dp1="ngbDatepicker" (click)="dp1.toggle()" required
                                [(ngModel)]="modelDate1" [value]="formatDateModelNgbDateStruct(modelDate1)"
                                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <!-- <label for="etatBonPour" class="form-label fw-bold">Etat bon pour</label> -->
                            <input id="etatBonPour" type="text" name="etatBonPour" hidden required
                                [(ngModel)]="etatBonPour"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-6 mx-auto form-group">
                            <label for="myInputSearch" class="form-label fw-bold">Unité douanière</label>
                            <input type="text" [formControl]="control" [matAutocomplete]="auto"
                                class="form-select text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">

                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                                <mat-option
                                    *ngFor="let uniteDouaniere of (filteredUniteDouanieres | async)?.slice(0, 5) "
                                    [value]="uniteDouaniere.nomUniteDouaniere">
                                    {{ uniteDouaniere.nomUniteDouaniere }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>


                        <div class="col-3">
                        </div>

                        <div class="col-3">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto form-group">
                            <label for="objectCourrielOrigine" class="form-label fw-bold">Object Courrier
                                origine</label>
                            <textarea name="objectCourrielOrigine" id="objectCourrielOrigine" rows="2" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;"></textarea>
                        </div>
                    </div>

                    <div class="row g-4">
                        <div class="col-12 mx-auto form-group">
                            <label for="descriptionBonPour" class="form-label fw-bold">Description bon pour</label>
                            <textarea name="descriptionBonPour" id="descriptionBonPour" rows="2" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;">
                            </textarea>
                        </div>
                    </div>
                </ng-container>

                <!-- <ng-container *ngIf="bonPour && bonPourAjouterInitial"> -->
                <ng-template #bonPourAjouterInitialDetail>
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto form-group">
                            <label for="numeroCourrielOrigine" class="form-label fw-bold">N° courrier origine</label>
                            <input type="number" name="numeroCourrielOrigine" id="numeroCourrielOrigine" required
                                disabled="" [(ngModel)]="bonPour!.numeroCourrielOrigine"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <label for="dateCourrielOrigine" class="form-label fw-bold">Date courrier origine</label>
                            <input type="text" name="dateCourrielOrigine" id="dateCourrielOrigine" required disabled=""
                                [(ngModel)]="dateCourrielOrigine"
                                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <input id="etatBonPour" type="text" name="etatBonPour" hidden required disabled=""
                                [(ngModel)]="bonPour!.etatBonPour"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-6 mx-auto form-group">
                            <label for="myInputSearch" class="form-label fw-bold">Unité douanière</label>
                            <input type="text" name="codeUniteDouaniere" required disabled=""
                                [(ngModel)]="bonPour!.codeUniteDouaniere.nomUniteDouaniere"
                                class="form-select text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">

                        </div>


                        <div class="col-3">
                        </div>

                        <div class="col-3">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto form-group">
                            <label for="objectCourrielOrigine" class="form-label fw-bold">Object Courrier
                                origine</label>
                            <textarea name="objectCourrielOrigine" id="objectCourrielOrigine" rows="2" required
                                disabled="" [(ngModel)]="bonPour!.objectCourrielOrigine"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;"></textarea>
                        </div>
                    </div>

                    <div class="row g-4">
                        <div class="col-12 mx-auto form-group">
                            <label for="descriptionBonPour" class="form-label fw-bold">Description bon pour</label>
                            <textarea name="descriptionBonPour" id="descriptionBonPour" rows="2" required disabled=""
                                [(ngModel)]="bonPour!.descriptionBonPour"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;">
                            </textarea>
                        </div>
                    </div>
                    <!-- </ng-container> -->
                </ng-template>

                <!-- --------------------------------------------------------------------------------- -->
                <div *ngIf="bonPourAjouterDLF" class="text-center fw-bolder bg-myprimary my-2" role="alert">
                    DLF
                </div>
                <!-- --------------------------------------------------------------------------------- -->

                <ng-container *ngIf="(bonPour?.etatBonPour == ALLERDLF) && bonPourAjouterDLF">
                    <!-- <ng-container *ngIf="bonPour && bonPourAjouterDLF"> -->
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto form-group">
                            <label for="numeroArriveDLF" class="form-label fw-bold">N° arrivée DLF</label>
                            <input type="number" name="numeroArriveDLF" id="numeroArriveDLF" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <label for="dateArriveDLF" class="form-label fw-bold">Date arrivée DLF</label>
                            <input type="text" name="dateArriveDLF" id="dateArriveDLF" autocomplete="off" ngbDatepicker
                                #dp2="ngbDatepicker" (click)="dp2.toggle()" required [(ngModel)]="modelDate2"
                                [value]="formatDateModelNgbDateStruct(modelDate2)"
                                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-6 mx-auto form-group">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto form-group">
                            <label for="observationDLF" class="form-label fw-bold">Observation DLF</label>
                            <textarea name="observationDLF" id="observationDLF" rows="2" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;"></textarea>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="(bonPour?.etatBonPour != ALLERDLF) && bonPourAjouterDLF">
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto form-group">
                            <label for="numeroArriveDLF" class="form-label fw-bold">N° arrivée DLF</label>
                            <input type="number" name="numeroArriveDLF" id="numeroArriveDLF" required disabled=""
                                [(ngModel)]="bonPour!.numeroArriveDLF"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <label for="dateArriveDLF" class="form-label fw-bold">Date arrivée DLF</label>
                            <input type="text" name="dateArriveDLF" id="dateArriveDLF" required disabled=""
                                [(ngModel)]="dateArriveDLF"
                                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-6 mx-auto form-group">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto form-group">
                            <label for="observationDLF" class="form-label fw-bold">Observation DLF</label>
                            <textarea name="observationDLF" id="observationDLF" rows="2" required disabled=""
                                [(ngModel)]="bonPour!.observationDLF"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;"></textarea>
                        </div>
                    </div>
                </ng-container>


                <!-- --------------------------------------------------------------------------------- -->
                <div *ngIf="bonPourAjouterBLM" class="text-center fw-bolder bg-myprimary my-2" role="alert">
                    BLM
                </div>
                <!-- --------------------------------------------------------------------------------- -->


                <ng-container *ngIf="(bonPour?.etatBonPour == ALLERBLM) && bonPourAjouterBLM">
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto form-group">
                            <label for="numeroArriveBLM" class="form-label fw-bold">N° arrivée BLM</label>
                            <input type="number" name="numeroArriveBLM" id="numeroArriveBLM" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <label for="dateArriveBLM" class="form-label fw-bold">Date arrivée BLM</label>
                            <input type="text" name="dateArriveBLM" id="dateArriveBLM" autocomplete="off" ngbDatepicker
                                #dp3="ngbDatepicker" (click)="dp3.toggle()" required [(ngModel)]="modelDate3"
                                [value]="formatDateModelNgbDateStruct(modelDate3)"
                                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-6 mx-auto form-group">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto form-group">
                            <label for="observationBLM" class="form-label fw-bold">Observation BLM</label>
                            <textarea name="observationBLM" id="observationBLM" rows="2" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;"></textarea>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="(bonPour?.etatBonPour != ALLERBLM) && bonPourAjouterBLM">
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto form-group">
                            <label for="numeroArriveBLM" class="form-label fw-bold">N° arrivée BLM</label>
                            <input type="number" name="numeroArriveBLM" id="numeroArriveBLM" required disabled="" [(ngModel)]="bonPour!.numeroArriveBLM"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <label for="dateArriveBLM" class="form-label fw-bold">Date arrivée BLM</label>
                            <input type="text" name="dateArriveBLM" id="dateArriveBLM" required disabled=""
                                [(ngModel)]="dateArriveBLM"
                                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-6 mx-auto form-group">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto form-group">
                            <label for="observationBLM" class="form-label fw-bold">Observation BLM</label>
                            <textarea name="observationBLM" id="observationBLM" rows="2" required disabled="" [(ngModel)]="bonPour!.observationBLM"
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;"></textarea>
                        </div>
                    </div>
                </ng-container>


                <!-- --------------------------------------------------------------------------------- -->
                <div *ngIf="bonPourAjouterSection" class="text-center fw-bolder bg-myprimary my-2" role="alert">
                    SECTION
                </div>
                <!-- --------------------------------------------------------------------------------- -->

                <ng-container *ngIf="(bonPour?.etatBonPour == ALLERSECTION) && bonPourAjouterSection">
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto form-group">
                            <label for="numeroArriveSection" class="form-label fw-bold">N° arrivée section</label>
                            <input type="number" name="numeroArriveSection" id="numeroArriveSection" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <label for="dateArriveSection" class="form-label fw-bold">Date section</label>
                            <input type="text" name="dateArriveSection" id="dateArriveSection" autocomplete="off"
                                ngbDatepicker #dp4="ngbDatepicker" (click)="dp4.toggle()" required
                                [(ngModel)]="modelDate4" [value]="formatDateModelNgbDateStruct(modelDate4)"
                                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-6 mx-auto form-group">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto form-group">
                            <label for="observationSection" class="form-label fw-bold">Observation Section</label>
                            <textarea name="observationSection" id="observationSection" rows="2" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;"></textarea>
                        </div>
                    </div>
                </ng-container>

                <!-- <ng-container *ngIf="(bonPour?.etatBonPour != ALLERSECTION) && bonPourAjouterSection">
                    <div class="row g-4 mb-3">
                        <div class="col-3 mx-auto form-group">
                            <label for="numeroArriveSection" class="form-label fw-bold">N° arrivée section</label>
                            <input type="number" name="numeroArriveSection" id="numeroArriveSection" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-3 mx-auto form-group">
                            <label for="dateArriveSection" class="form-label fw-bold">Date section</label>
                            <input type="text" name="dateArriveSection" id="dateArriveSection" autocomplete="off"
                                ngbDatepicker #dp4="ngbDatepicker" (click)="dp4.toggle()" required
                                [(ngModel)]="modelDate4" [value]="formatDateModelNgbDateStruct(modelDate4)"
                                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                        </div>

                        <div class="col-6 mx-auto form-group">
                        </div>
                    </div>

                    <div class="row g-4 mb-3">
                        <div class="col-12 mx-auto form-group">
                            <label for="observationSection" class="form-label fw-bold">Observation Section</label>
                            <textarea name="observationSection" id="observationSection" rows="2" required ngModel
                                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                                style="resize: none;"></textarea>
                        </div>
                    </div>
                </ng-container> -->


                <!-- ---------------------------------------------------------------------------------- -->

                <div class="row">
                    <div class="col-12 text-end">
                        <button type="submit" id="bon-pour-form" [disabled]="BonPourForm.invalid" hidden class="btn btn-mysecondary fw-bold mx-2"
                            data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
                            Valider
                        </button>
                    </div>
                </div>

            </form>
        </div>


    </div>

    <div class="card-footer border border-myprimary">
        <div class="container px-2 py-1">
            <div class="row">
                <div class="col-12 text-end">
                    <button (click)="submitForm()" type="button" [disabled]="BonPourForm.invalid"
                        class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                        title="cliquer ici pour ajouter">
                        Valider
                    </button>

                    <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
                        data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                        Retour
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>