<div class="card shadow">

  <div class="card-header text-center fw-bold bg-myprimary fs-5">
    Ajouter maintenance
  </div>

  <div class="card-body" style="max-height: 650px; overflow-y: auto;">

    <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
      Véhicule
    </div>

    <div class="container px-3 py-2">
      <form class="form">
        <div class="row g-4 mb-3">
          <div class="col-3 mx-auto form-group">
            <label for="myInputSearch" class="form-label fw-bold">N° série</label>
            <input type="text" [formControl]="controlDotationVehicule" [matAutocomplete]="auto" id="myInputSearch"
              class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
              <mat-option *ngFor="let dotationVehicule of (filteredDotationVehicules | async)?.slice(0, 5)"
                [value]="dotationVehicule.numeroSerie.numeroSerie">
                {{ dotationVehicule.numeroSerie.numeroSerie }}
              </mat-option>
            </mat-autocomplete>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroCarteGrise != ''">
              <span class="fw-bold">N° immatriculation</span>
              <div class="text-input text-uppercase"> {{ dotationVehicule.numeroSerie.numeroImmatriculation }} </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.modele != ''">
              <span class="fw-bold">Modèle</span>
              <div class="text-input text-uppercase"> {{ dotationVehicule.numeroSerie.modele }} </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.libelleEtatVehicule != ''">
              <span class="fw-bold">Etat véhicule</span>
              <div class="text-input text-uppercase"> {{ dotationVehicule.numeroSerie.libelleEtatVehicule }} </div>
            </ng-container>
          </div>
        </div>

        <div class="row g-4 mb-3">
          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.codeTypeEnergie.libelleTypeEnergie != ''">
              <span class="fw-bold">Type énergie</span>
              <div class="text-input text-uppercase"> {{ dotationVehicule.numeroSerie.codeTypeEnergie.libelleTypeEnergie
                }}
              </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.codePays.libellePays != ''">
              <span class="fw-bold">Provenance</span>
              <div class="text-input text-uppercase"> {{ dotationVehicule.numeroSerie.codePays.libellePays }} </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroCarteGrise != ''">
              <span class="fw-bold">N° carte grise</span>
              <div class="text-input text-uppercase"> {{ dotationVehicule.numeroSerie.numeroCarteGrise }} </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroCarteGrise != ''">
              <span class="fw-bold">Etat véhicule</span>
              <div class="text-input text-uppercase"> {{
                myDateStringFormatter(dotationVehicule.numeroSerie.dateMiseEnCirculation) }} </div>
            </ng-container>
          </div>
        </div>


        <div class="row g-4 mb-3">
          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.codeTypeVehicule.libelleTypeVehicule != ''">
              <span class="fw-bold">Type véhicule</span>
              <div class="text-input text-uppercase"> {{
                dotationVehicule.numeroSerie.codeTypeVehicule.libelleTypeVehicule }}
              </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.codeMarque.libelleMarqueVH != ''">
              <span class="fw-bold">Marque</span>
              <div class="text-input text-uppercase"> {{ dotationVehicule.numeroSerie.codeMarque.libelleMarqueVH }}
              </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
          </div>

          <div class="col-3 mx-auto">
          </div>
        </div>


        <!-- <div class="row">
              <div class="col-12 text-end">
                  <button type="submit" id="maintenance-form"  [disabled]="MaintenanceForm.invalid || (vehicule.numeroSerie == '')" hidden class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
                      Valider
                  </button>
                  
              </div>
          </div> -->
      </form>
    </div>

    <div *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''" class="text-center fw-bolder bg-myprimary mt-1"
      role="alert">
      Unité Douanière
    </div>

    <div *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''" class="container px-3 py-2">
      <form class="form">
        <div class="row g-4 mb-3">
          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''">
              <span class="fw-bold">Code unité</span>
              <div class="text-input text-uppercase"> {{
                bonSortie.identifiantBonPour.codeUniteDouaniere.codeUniteDouaniere }} </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''">
              <span class="fw-bold">Type unité</span>
              <div class="text-input text-uppercase"> {{
                bonSortie.identifiantBonPour.codeUniteDouaniere.codeTypeUniteDouaniere.libelleTypeUniteDouaniere }}
              </div>
            </ng-container>
          </div>

          <div class="col-6 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''">
              <span class="fw-bold">Nom unité</span>
              <div class="text-input text-uppercase"> {{
                bonSortie.identifiantBonPour.codeUniteDouaniere.nomUniteDouaniere }} </div>
            </ng-container>
          </div>

        </div>

        <div class="row g-4 mb-3">
          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''">
              <span class="fw-bold">Effectif unité</span>
              <div class="text-input text-uppercase"> {{
                bonSortie.identifiantBonPour.codeUniteDouaniere.effectifUniteDouaniere }} </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''">
              <span class="fw-bold">Nombre arme</span>
              <div class="text-input text-uppercase"> {{ bonSortie.identifiantBonPour.codeUniteDouaniere.nombreArme }}
              </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''">
              <span class="fw-bold">Nombre véhicule</span>
              <div class="text-input text-uppercase"> {{
                bonSortie.identifiantBonPour.codeUniteDouaniere.nombreAutomobile }} </div>
            </ng-container>
          </div>

          <div class="col-3 mx-auto">
            <ng-container *ngIf="dotationVehicule.numeroSerie.numeroSerie != ''">
              <span class="fw-bold">Nombre matériel</span>
              <div class="text-input text-uppercase"> {{ bonSortie.identifiantBonPour.codeUniteDouaniere.nombreMateriel
                }} </div>
            </ng-container>
          </div>
        </div>

      </form>
    </div>

    <!-- -----------------------------------MAINTENANCE------------------------------------------- -->
    <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
      {{ (selectedTypeMaintenance == '') ? 'Maintenance' : selectedTypeMaintenance }}
    </div>

    <div class="container px-3 py-2">
      <form class="form" #MaintenanceForm="ngForm" (ngSubmit)="ajouterMaintenance(MaintenanceForm)">
        <div class="row g-4 mb-3">
          <div class="col-3 mx-auto form-group">
            <label for="typeMaintenance" class="form-label fw-bold">Type maintenance</label>
            <select name="typeMaintenance" id="typeMaintenance" required [(ngModel)]="selectedTypeMaintenance"
              (ngModelChange)="onTypeMaintenanceChange($event)"
              class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
              autocomplete="off">
              <option value="Controle">CONTROLE</option>
              <option value="Vidange">VIDANGE</option>
              <option value="Reparation">RÉPARATION</option>
            </select>
          </div>

          <div class="col-3 mx-auto form-group">
            <ng-container *ngIf="selectedTypeMaintenance != ''">
              <!-- <span class="fw-bold">Date début</span>
                            <div class="text-input text-uppercase"> {{ currentDateFormatted }} </div> -->
              <!-- {{currentDateFormatted}} -->
              <label for="dateDebutMaintenance" class="form-label fw-bold">Date prise en charge</label>
              <input type="text" name="dateDebutMaintenance" id="dateDebutMaintenance" autocomplete="off" disabled
                [placeholder]="currentDateFormatted"
                class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
            </ng-container>
          </div>

          <div class="col-3 mx-auto form-group">

            <!-- <input id="etatMaintenance" type="text" name="etatMaintenance" hidden required [(ngModel)]="etatMaintenance"
                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"> -->
          </div>

          <div class="col-3 mx-auto">

          </div>



        </div>

        <div class="row">

          <div class="col-12 mx-auto form-group">
            <ng-container *ngIf="selectedTypeMaintenance != ''">
              <label for="observationMaintenance" class="form-label fw-bold">Observation</label>
              <textarea name="observationMaintenance" id="observationMaintenance" rows="2" required ngModel
                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                style="resize: none;"></textarea>
              <!-- <input id="observationMaintenance" type="text" name="observationMaintenance" required
                            ngModel
                            class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"> -->
            </ng-container>
          </div>


        </div>

        <div class="row">
          <div class="col-12 text-end">
            <button type="submit" id="maintenance-form"
              [disabled]="MaintenanceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie == '')" hidden
              class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
              Valider
            </button>
          </div>
        </div>
      </form>
    </div>


    <!-- -----------------------------------VIDANGE------------------------------------------- -->
    <div *ngIf="selectedTypeMaintenance.toLowerCase() == 'vidange'" class="text-center fw-bolder bg-myprimary mt-1 "
      role="alert">
      Huile de vidange
    </div>

    <div *ngIf="selectedTypeMaintenance.toLowerCase() == 'vidange'" class="container px-3 py-2">
      <form class="form" #VidangeForm="ngForm" (ngSubmit)="ajouterVidange(VidangeForm)">
        <div class="row g-4 mb-3">

          <div class="col-6 mx-auto form-group">
            <label for="myInputSearch" class="form-label fw-bold">Libellé huile</label>
            <input type="text" [formControl]="controlHuile" [matAutocomplete]="auto" id="myInputSearch"
              class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelectedHuile($event)">
              <mat-option *ngFor="let huile of (filteredHuiles | async)?.slice(0, 5)" [value]="huile.libelleHuile">
                {{ huile.libelleHuile }}
              </mat-option>
            </mat-autocomplete>
          </div>

          <div class="col-3 mx-auto">
            <label for="quantite" class="form-label fw-bold">Quantité</label>
            <input id="quantite" type="number" name="quantite" required ngModel
              class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
          </div>

          <div class="col-3 mx-auto">
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-end">
            <button type="submit" id="vidange-form"
              [disabled]="VidangeForm.invalid || MaintenanceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie === '') || (this.huile.identifiantHuile == '')" hidden
              class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
              Valider
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- -----------------------------------REPARATION------------------------------------------- -->
    <div *ngIf="selectedTypeMaintenance.toLowerCase() == 'reparation'">
    </div>

    <div *ngIf="selectedTypeMaintenance.toLowerCase() == 'reparation'" class="container px-3 py-2">
      <form class="form" #ReparationForm="ngForm" (ngSubmit)="ajouterReparation(ReparationForm)">
        <div class="row g-4 mb-3">
          <div class="col-3 mx-auto form-group">
            <label for="natureReparation" class="form-label fw-bold">Nature réparation</label>
            <select name="natureReparation" id="natureReparation" required [(ngModel)]="selectedNatureReparation"
              (ngModelChange)="onTypeReparationChange($event)"
              class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
              autocomplete="off">

              <!-- <option [ngValue]="REPARETIONSIMPLE" selected> {{REPARETIONSIMPLE}} </option> -->
              <option [ngValue]="REPARETIONSIMPLE"> {{REPARETIONSIMPLE}} </option>
              <option [ngValue]="SUITEACCIDENT"> {{SUITEACCIDENT}} </option>
            </select>

          </div>

          <div class="col-9 mx-auto">
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-end">
            <button type="submit" id="reparation-form"
              [disabled]="ReparationForm.invalid || selectedTypeMaintenance.toLowerCase() == 'reparation' && selectedNatureReparation === REPARETIONSIMPLE" hidden
              class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
              Valider
            </button>
          </div>
        </div>
      </form>
    </div>



    <div *ngIf="selectedNatureReparation === SUITEACCIDENT" class="text-center fw-bolder bg-myprimary mt-1 py-1"
      role="alert">
    </div>

    <div *ngIf="selectedNatureReparation === SUITEACCIDENT">

      <form class="form" #AccidentForm="ngForm" (ngSubmit)="ajouterAccident(AccidentForm)" class="container px-3 py-2">
        <div class="row g-4 mb-3">
          <!-- <div class="col-3 mx-auto form-group">
            <label for="lieuIncident" class="form-label fw-bold">Lieu incident</label>
            <input id="lieuIncident" type="text" name="lieuIncident" required ngModel
              class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
          </div> -->

          <!-- {{accidentFormInvalid}} -->

          <div class="col-3 mx-auto form-group">
            <label for="myInputSearch" class="form-label fw-bold">Lieu incident</label>
            <input type="text" [formControl]="controlLieuIncident" [matAutocomplete]="autoLieu" id="myInputSearch"
              class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">

            <mat-autocomplete #autoLieu="matAutocomplete" (optionSelected)="onOptionSelectedLieu($event)">
              <mat-option *ngFor="let lieuStockageVehicule of (filteredLieuStockageVehicules | async)?.slice(0, 5)" [value]="lieuStockageVehicule.libellleLieuVH">
                {{ lieuStockageVehicule.libellleLieuVH }}
              </mat-option>
            </mat-autocomplete>
          </div>

          <div class="col-3 mx-auto form-group">
            <label for="dateIncident" class="form-label fw-bold">Date incident</label>
            <input type="text" name="dateIncident" id="dateIncident" autocomplete="off" ngbDatepicker
              #dp1="ngbDatepicker" (click)="dp1.toggle()" required [(ngModel)]="modelDate1"
              [value]="formatDateModelNgbDateStruct(modelDate1)"
              class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
          </div>

          <div class="col-3 mx-auto form-group">
            <label for="nombreBlesse" class="form-label fw-bold">Nombre blessés</label>
            <input id="nombreBlesse" type="number" name="nombreBlesse" required [(ngModel)]="nombreBlesse"
              class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
          </div>

          <div class="col-3 mx-auto form-group">
            <label for="nombreDeces" class="form-label fw-bold">Nombre décès</label>
            <input id="nombreDeces" type="number" name="nombreDeces" required [(ngModel)]="nombreDeces"
              class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
          </div>
        </div>

        <div class="row g-4 mb-3">
          <div class="col-12 mx-auto form-group">
            <label for="commentaireIncident" class="form-label fw-bold">Commentaire incident</label>
            <textarea name="commentaireIncident" id="commentaireIncident" rows="2" required ngModel
              class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
              style="resize: none;"></textarea>
          </div>
        </div>


        <div class="row">
          <div class="col-12 text-end">
            <button type="submit" id="accident-form"
              [disabled]="AccidentForm.invalid || MaintenanceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie === '') || changementPiecesSelect.length === 0 || (lieuStockageVehicule.libellleLieuVH == '')" hidden
              class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
              Valider
            </button>
          </div>
        </div>
      </form>
    </div>



    <div *ngIf="selectedTypeMaintenance.toLowerCase() == 'reparation' ">

      <div *ngIf="selectedTypeMaintenance.toLowerCase() == 'reparation'" class="text-center fw-bolder bg-myprimary mt-1"
        role="alert">Changement piéce
      </div>

      <form class="form" class="container px-3 py-2">

        <div class="row g-4 mb-3">
          <div class="col-3 mx-auto">
            <!-- <button (click)="submitForm()" type="button" class="btn btn-mysecondary rounded-pill w-100" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
              <span class="fs-4">+</span> Ajouter une pièce
            </button> -->

            <button (click)="popupAjouterPiece()" type="button" class="btn border-2 border-myprimary rounded-pill w-100"
              data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
              <span class="fs-5">+</span> Ajouter une pièce
            </button>
          </div>
        </div>

        <div class="row g-4 mb-3">
          <div class="col mx-auto text-center">
            <div class="text-input text-uppercase">
              <span class="border border-2 border-mysecondary rounded-4 p-2 m-1"
                *ngFor="let changementPiece of changementPiecesSelect; let i = index"
                style="display: inline-block; white-space: nowrap;">
                {{ changementPiece.identifiantPiece.referencePiece }} ({{ changementPiece.nombrePieces }})
                <!-- <span class="btn btn-mybrown btn-sm" (click)="supprimerChangementPiecesSelect(i)">x</span> -->
                <span class="text-mybrown text-sm" (click)="supprimerChangementPiecesSelect(i)" style="cursor: pointer;">x</span>
              </span>
            </div>
          </div>
        </div>        

        <!-- <div class="row g-4 mb-3">
          <div class="col mx-auto text-center">
            <div class="text-input text-uppercase">
              <span class="border border-2 border-mysecondary rounded-4 p-2 m-1"
                *ngFor="let changementPiece of changementPiecesSelect"
                style="display: inline-block; white-space: nowrap;">
                {{ changementPiece.identifiantPiece.referencePiece }} ({{ changementPiece.nombrePieces }})
              </span>
            </div>
          </div>
        </div> -->

        <!-- <div class="row g-4 mb-3">
          <div class="col-3 mx-auto form-group">
            <label for="myInputSearch" class="form-label fw-bold">Référence pièces</label>
            <input type="text" [formControl]="controlPiece" [matAutocomplete]="auto" id="myInputSearch"
              class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelectedPiece($event)">
              <mat-option *ngFor="let piece of (filteredPieces | async)?.slice(0, 5)" [value]="piece.referencePiece">
                {{ piece.referencePiece }}
              </mat-option>
            </mat-autocomplete>
          </div>

          <div class="col-3 mx-auto form-group">
            <label for="nombrePieces" class="form-label fw-bold">Nombre pièces</label>
            <input id="nombrePieces" type="number" name="nombrePieces" required ngModel
              class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
          </div>

          <div class="col-6 mx-auto">
          </div>
        </div> -->

        <!-- <div class="row">
          <div class="col-12 text-end">
            <button type="submit" id="changement-piece-form"
              [disabled]="ChangementPieceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie == '')" hidden
              class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
              Valider
            </button>
          </div>
        </div> -->

      </form>
    </div>



    <div class="container px-3 py-2">
      <div class="row">
        <div class="col-12 text-end">
          <button *ngIf="selectedTypeMaintenance.toLowerCase() == 'controle' || selectedTypeMaintenance == ''"
            (click)="submitForm()" type="button"
            [disabled]="MaintenanceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie === '')"
            class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
            Valider
          </button>

          <button *ngIf="selectedTypeMaintenance.toLowerCase() == 'vidange'" (click)="submitForm()" type="button"
            [disabled]="MaintenanceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie === '') || (this.huile.identifiantHuile === '')"
            class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
            Valider
          </button>

          <button *ngIf="selectedTypeMaintenance.toLowerCase() == 'reparation' && selectedNatureReparation === REPARETIONSIMPLE" (click)="submitForm()" type="button"
            [disabled]="MaintenanceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie === '') || changementPiecesSelect.length === 0"
            class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
            Valider
          </button>

          <!-- --------------------------------------------------- -->

          <button *ngIf="selectedTypeMaintenance.toLowerCase() == 'reparation' && selectedNatureReparation === SUITEACCIDENT"
            (click)="submitForm()" type="button"
            [disabled]="MaintenanceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie === '') || changementPiecesSelect.length === 0 || (lieuStockageVehicule.libellleLieuVH == '')"
            class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
            Valider
          </button>


          <!-- --------------------------------------------------- -->

          <!-- <button (click)="submitForm()" type="button"
            [disabled]="MaintenanceForm.invalid || (dotationVehicule.numeroSerie.numeroSerie == '')"
            class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
            Valider
          </button> -->

          <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
            data-bs-toggle="tooltip" title="cliquer ici pour retourner">
            Retour
          </button>
        </div>
      </div>
    </div>
  </div>

</div>