<div class="container1 bg-mywhite">

    <nav>
        <app-entete></app-entete>
    </nav>

    <div id="sidebar">
        <app-menu></app-menu>
    </div>

    <main class="bg-mywhite">

        <div class="container bg-myprimary bg-gradient py-2 my-2"
            style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); width: 98%;">
            <div class="row">
                <div class="col-12 text-center fw-bolder fs-5">
                    Dotation des Véhicules
                </div>
            </div>
        </div>

        <div class="container py-4" style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);">
            <div class="row">

                <div #monDiv (click)="divClique()" class="col-4">
                    <div class="input-group" style=" width: 100%; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);">
                        <div class="input-group-prepend">
                            <span class="input-group-text h-100"
                                style="box-shadow: #F5E0A7 0px 50px 100px -20px, #F5E0A7 0px 30px 60px -30px, #F5E0A7 0px -2px 6px 0px inset; outline: none;">
                                <!-- <mat-icon>search</mat-icon> -->
                                <img src="../../../../../assets/loupe.png" alt="">
                            </span>
                        </div>

                        <input id="myInputSearch" #myInputSearch matInput (input)="applyFilter($event)" #searchBox
                            (input)="search(searchBox.value)" class="form-control input-sm bg-mywhite border-0"
                            type="search" placeholder="Rechercher" aria-label="Search"
                            style="box-shadow: #F5E0A7 0px 50px 100px -20px, #F5E0A7 0px 30px 60px -30px, #F5E0A7 0px -2px 6px 0px inset; outline: none;">
                    </div>

                    <div *ngIf="focusOnInput" style="position: absolute; background-color: #e7e7e7;">

                        <ng-container
                            *ngFor="let bonPour of bonPourFilterDoubleDateArriveBLMEtatBP$ | async;"
                            style="cursor: pointer; display: block; color: gray; background-color: #fff; margin: 5px; text-decoration: none;">
                            <!-- {{ bonEntree | json }}  -->
                            <ng-container
                                *ngIf="isNumber(termeRechercheDateArriveBLMEtatBP); else nonNumeric">
                                <ng-container *ngIf="bonPour?.dateArriveBLM as dateArriveBLM;">
                                    <a (click)="FilterDoubleDateArriveBLMEtatBP(dateArriveBLM.toString())"
                                        style="cursor: pointer; display: block; color: gray; background-color: #fff; margin: 5px; text-decoration: none;">
                                        {{ dateArriveBLM }}
                                    </a>
                                </ng-container>
                            </ng-container>
                            <ng-template #nonNumeric>
                                <ng-container *ngIf="bonPour?.etatBonPour as etatBonPour;">
                                    <a (click)="FilterDoubleDateArriveBLMEtatBP(etatBonPour)"
                                        style="cursor: pointer; display: block; color: gray; background-color: #fff; margin: 5px; text-decoration: none;">
                                        {{ etatBonPour }}
                                    </a>
                                </ng-container>
                            </ng-template>
                        </ng-container>



                    </div>
                </div>

                <div class="col-3 text-center">
                  <input type="text" placeholder="Rechercher une unité" [formControl]="control"
                      [matAutocomplete]="auto" id="codeUniteDouaniere" #codeUniteDouaniere #searchBoxCodeUniteDouaniere
                      (input)="search(searchBoxCodeUniteDouaniere.value)" name="codeUniteDouaniere"
                      class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">

                  <mat-autocomplete #auto="matAutocomplete" style="width: 500px;">
                      <mat-option *ngFor="let uniteDouaniere of (filteredUniteDouanieres | async)?.slice(0, 5)"
                          [value]="uniteDouaniere.nomUniteDouaniere">
                          <span style="font-size: 12px;">{{ uniteDouaniere.nomUniteDouaniere }}</span>
                      </mat-option>
                  </mat-autocomplete>



              </div>

              <div class="col-2 text-center">

              </div>

                <div class="col-3 d-flex justify-content-end">
                    <!-- <img (click)="popupAjouterDotation()" src="../../../../../assets/add.png" alt="" class="icon-button"> -->
                    <img src="../../../../../assets/fichier-pdf.png" alt="" class="icon-button">
                    <!-- <img (click)="exporter.exportTable('xlsx', {fileName:'vehicule-liste'})" src="../../../../../assets/xls.png" alt="" class="icon-button"> -->
                    <img src="../../../../../assets/xls.png" alt="" class="icon-button">
                </div>

            </div>
        </div>

        <div class="container">
            <div class="mat-elevation-z8">

                <!-- <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter"> -->
                <table mat-table [dataSource]="dataSource">
                    <!-- Define columns and cells for IVehicule properties -->
                    <ng-container *ngFor="let column of displayedColumns let i = index" [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef class="fw-bold"
                            [style.display]="columnsToHide.includes(column) ? 'none' : 'table-cell'">
                            {{ displayedColumnsCustom[i] }}
                        </th>

                        <td mat-cell *matCellDef="let element" (click)="goToDetail(element)" style="cursor: pointer;"
                            [style.display]="columnsToHide.includes(column) ? 'none' : 'table-cell'">
                            <!-- Check if the current column is the "N°" column -->
                            <ng-container *ngIf="columnsDateFormat.includes(column); else normalCell">
                                {{ element[column] | date: 'dd MMMM yyyy' | uppercase }}
                            </ng-container>
                            <ng-template #normalCell>
                                <!-- <ng-container *ngIf="column === 'N°'; else normalCell">{{ element.rowNumber }}</ng-container>
                                <ng-template #normalCell>{{ element[column] }}</ng-template> -->
                                {{ element[column] }}
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Header row -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <!-- Data rows -->
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-uppercase"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of bon entrees">
                </mat-paginator>

            </div>
        </div>

    </main>


</div>
