<div class="card shadow">

    <div class="card-header text-center fw-bold bg-myprimary fs-5">
        Ajouter
    </div>

    <div class="card-body">
        <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
            Bordereau Livraison
        </div>

        <div class="container px-3 py-2">
            <!-- <app-bordereau-livraison-ajouter></app-bordereau-livraison-ajouter> -->
            <form class="form" #BordereauLivraisonForm="ngForm" (ngSubmit)="ajouterBordereauLivraison(BordereauLivraisonForm)">

                <div class="row g-4 mb-3">
                    <div class="col-3 mx-auto form-group">
                        <label for="numeroBordereauLivraison" class="form-label fw-bold">N° bordereau livraison</label>
                        <input id="numeroBordereauLivraison" type="text" name="numeroBordereauLivraison" required ngModel class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                    </div>

                    <!-- <div class="col-3 mx-auto form-group">
                        <label for="dateBL" class="form-label fw-bold">Date bordereau</label>
                        <input type="date" name="dateBL" id="dateBL" ngbDatepicker #dp1="ngbDatepicker" (click)="dp1.toggle()" required ngModel class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                    </div> -->

                    <div class="col-3 mx-auto form-group">
                        <label for="dateBordereauLivraison" class="form-label fw-bold">Date bordereau livraison</label>
                        <input type="text" name="dateBordereauLivraison" id="dateBordereauLivraison" autocomplete="off" ngbDatepicker #dp1="ngbDatepicker" (click)="dp1.toggle()" required [(ngModel)]="modelDate1" [value]="formatDate(modelDate1)" class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                    </div>

                    <div class="col-3 mx-auto form-group">
                        <label for="lieuDeLivraison" class="form-label fw-bold">Lieu de livraison</label>
                        <input type="text" name="lieuDeLivraison" id="lieuDeLivraison" required ngModel class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                    </div>
                </div>

                <div class="row g-4 mb-3">
                    <div class="col-3 mx-auto form-group d-none">
                        <label for="conformiteBordereauLivraison" class="form-label fw-bold">Conformite bordereau livraison</label>
                        <select name="conformiteBordereauLivraison" id="conformiteBordereauLivraison" required [(ngModel)]="selectedValueConformiteBL" class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                            <option value="OUI">OUI</option>
                            <option value="NON">NON</option>
                        </select>
                    </div>

                    <div class="col-7 mx-auto form-group">
                      <label for="ninea" class="form-label fw-bold">Prestataire</label>
                      <select name="ninea" id="ninea" required ngModel class="form-select text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                          <option *ngFor="let prestataire of prestataires" [ngValue]="prestataire">
                              {{ prestataire.raisonSociale }}
                          </option>
                      </select>
                   </div>

                    <div class="col-3 mx-auto form-group">
                        <label for="representantPrestataire" class="form-label fw-bold">Représentant prestataire</label>
                        <input type="text" name="representantPrestataire" id="representantPrestataire" required ngModel class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                    </div>




                </div>

                <div class="row g-4">
                    <div class="col-11 mx-auto form-group">
                        <label for="descriptionBordereauLivraison" class="form-label fw-bold">Description bordereau livraison</label>
                        <textarea name="descriptionBordereauLivraison" id="descriptionBordereauLivraison" rows="2" required ngModel class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase" style="resize: none;"></textarea>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 text-end">
                        <button type="submit" [disabled]="BordereauLivraisonForm.invalid" id="bordereau-livraison-form" hidden class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour valider">
                            Valider
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
            Bon d'Entrée
        </div>

        <div class="container px-3 py-2">
            <!-- <app-bon-entree-ajouter></app-bon-entree-ajouter> -->
            <form class="form" #BonEntreeForm="ngForm" (ngSubmit)="ajouterBonEntree(BonEntreeForm)">

                <div class="row g-4 mb-3">
                    <div class="col-3 mx-auto form-group">

                        <label for="numeroBonEntree" class="form-label fw-bold">N° bon d'entrée</label>
                        <input id="numeroBonEntree" type="text" name="numeroBonEntree" required ngModel class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                    </div>

                    <div class="col-3 mx-auto form-group">
                        <label for="dateBonEntree" class="form-label fw-bold">Date bon d'entrée</label>
                        <input type="text" name="dateBonEntree" id="dateBonEntree" autocomplete="off" ngbDatepicker #dp2="ngbDatepicker" (click)="dp2.toggle()" required [(ngModel)]="modelDate2" [value]="formatDate(modelDate2)" class="text-input form-control bg-mywhite border border-myprimary px-1 text-uppercase">
                    </div>

                    <div class="col-3 mx-auto form-group">
                        <label for="libelleBonEntree" class="form-label fw-bold">Libellé bon d'entrée</label>
                        <input type="text" name="libelleBonEntree" id="libelleBonEntree" required ngModel class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                    </div>
                </div>


                <div class="row g-4">
                    <div class="col-11 mx-auto form-group">
                        <label for="observationBonEntree" class="form-label fw-bold">Observation bon d'entrée</label>
                        <textarea name="observationBonEntree" id="observationBonEntree" rows="2" required ngModel class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase" style="resize: none;"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-end">
                        <button type="submit" [disabled]="BonEntreeForm.invalid" id="bon-entree-form" hidden class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour valider">
                            Valider
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div class="container px-3 py-2">
            <div class="row">
                <div class="col-12 text-end">
                    <button (click)="submitForm()" [disabled]="BonEntreeForm.invalid || BordereauLivraisonForm.invalid" type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour ajouter">
                        Valider
                    </button>

                    <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                        Retour
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
