<div class="card shadow">

  <div class="card-header text-center fw-bold bg-myprimary fs-5">
    Ajouter
  </div>


  <div class="card-body">


    <div class="container px-3 py-2">

      <ng-container>

        <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
          Bon de sortie
        </div>

        <div class="container px-3 py-2 ">

          <form class="form" #BonSortieForm="ngForm" (ngSubmit)="ajouterBonSortie(BonSortieForm)">

            <div class="row g-4">

              <ng-container *ngIf="(bonSortie.identifiantBonSortie !== ''); else pasBonSortie">
                <div class="col-12 mx-auto form-group">
                  <label for="descriptionBonSortie" class="form-label fw-bold">Description bon sortie</label>
                  <textarea name="descriptionBonSortie" id="descriptionBonSortie" rows="2" disabled required [(ngModel)]="bonSortie!.descriptionBonSortie"
                    class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                    style="resize: none;"></textarea>
                </div>
              </ng-container>

              <ng-template #pasBonSortie>
                <div class="col-12 mx-auto form-group">
                  <label for="descriptionBonSortie" class="form-label fw-bold">Description bon sortie</label>
                  <textarea name="descriptionBonSortie" id="descriptionBonSortie" rows="2" required ngModel
                    class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"
                    style="resize: none;"></textarea>
                </div>
              </ng-template>

            </div>

            <div class="row">
              <div class="col-12 text-end">
                <button type="submit" id="bon-sortie-form" hidden class="btn btn-myprimary fw-bold mx-2"
                  data-bs-toggle="tooltip" title="cliquer ici pour valider">
                  Valider
                </button>
              </div>
            </div>



          </form>
          <div class="row">
            <div class="col-12 text-end">
              <button (click)="submitForm()" hidden class="btn btn-myprimary fw-bold mx-2" data-bs-toggle="tooltip"
                title="cliquer ici pour valider">
                Valider
              </button>

              <!-- <button [routerLink]="'/affectation-vehicule'" type="button"
                class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip"
                title="cliquer ici pour retourner">
                Retour
            </button> -->
            </div>
          </div>
        </div>


      </ng-container>

    </div>


  </div>


  <!-- <div class="container">


    <div class="container">
      <ng-template #detailFormBonSortie>

        <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
          Bon de sortie
        </div>

        <form class="container px-3 py-2">
          <div class="row g-4 mb-3">


            <div class="col-12 mx-auto">
              <span class="fw-bold"> Description bon sortie</span>
              <div class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase"> {{ bonSortie.descriptionBonSortie }} </div>
            </div>
          </div>
        </form>



      </ng-template>


    </div>




  </div> -->




  <div class="card-body px-3 py-2">

    <div class="container px-3 py-2">
      <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
        Dotation véhicule
      </div>

      <div class="container px-3 py-2">
        <!-- <app-bordereau-livraison-ajouter></app-bordereau-livraison-ajouter> -->
        <form class="form px-3 py-2" #ArticleBonSortieForm="ngForm"
          (ngSubmit)="ajouterArticleBonSortie(ArticleBonSortieForm)">

          <div class="row g-4 ">


            <div class="col-3 mx-auto form-group">
              <label for="codeArticleBonSortie" class="form-label fw-bold">N° article</label>
              <input id="codeArticleBonSortie" hidden type="number" name="codeArticleBonSortie" disabled required
                [(ngModel)]="nombreArticle"
                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
              <input type="text" name="codeArticleBonSortie" disabled [placeholder]="'Article ' + nombreArticle"
                class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
            </div>

            <div class="col-3 mx-auto form-group">
             <!-- {{(bonPour?.etatBonPour == RETOURSECTION)}} {{estSection}} -->

             <!-- {{articleBonSortie | json}} -->
             <!-- {{bonSortie | json}} -->

              <ng-container *ngIf="(bonPour?.etatBonPour == RETOURSECTION) && estSection; else consultationSection">
                <label for="quantiteAccordeeSection" class="form-label fw-bold">Quantite accordée section</label>
                <input id="quantiteAccordeeSection" type="number" name="quantiteAccordeeSection" required [(ngModel)]="quantiteAccordeeSection"
                  class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
              </ng-container>

              <ng-template #consultationSection>
                <label for="quantiteAccordeeSection" class="form-label fw-bold">Qte accordée section</label>
                <input id="quantiteAccordeeSection" type="number" disabled name="quantiteAccordeeSection" required
                  [(ngModel)]="ArticleBonSortieByIdentifiantBonSortie(articleBonPour)!.quantiteAccordeeSection"
                  class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
              </ng-template>
            </div>



            <div class="col-3 mx-auto form-group">
              <ng-container *ngIf="ArticleBonSortieByIdentifiantBonSortie(articleBonPour)!.identifiantBonSortie !== ''">
                  <ng-container *ngIf="(bonPour?.etatBonPour === RETOURBLM) && estBLM ; else consultationBLM">
                    <label for="quantiteAccordeeBLM" class="form-label fw-bold">Qte accordée BLM</label>
                    <input id="quantiteAccordeeBLM" type="number"  name="quantiteAccordeeBLM" required
                    [(ngModel)]="quantiteAccordeeBLM"
                      class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                  </ng-container>

                  <ng-template #consultationBLM>
                    <label for="quantiteAccordeeBLM" class="form-label fw-bold">Qte accordée BLM</label>
                    <input id="quantiteAccordeeBLM" type="number" disabled name="quantiteAccordeeBLM" required
                      [(ngModel)]="ArticleBonSortieByIdentifiantBonSortie(articleBonPour)!.quantiteAccordeeBLM"
                      class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                  </ng-template>
                </ng-container>
            </div>

            <div class="col-3 mx-auto form-group">
            <ng-container *ngIf="ArticleBonSortieByIdentifiantBonSortie(articleBonPour)!.identifiantBonSortie !== '' && ArticleBonSortieByIdentifiantBonSortie(articleBonPour)!.quantiteAccordeeBLM !== null">
              <ng-container  *ngIf="(bonPour?.etatBonPour == RETOURDLF) && estDLF; else consultationDLF">
                <label for="quantiteAccordeeDLF" class="form-label fw-bold">Qte accordée DLF </label>
                <input id="quantiteAccordeeDLF" type="number" name="quantiteAccordeeDLF" required   [(ngModel)]="quantiteAccordeeDLF"
                  class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
              </ng-container>

              <ng-template #consultationDLF>
                <label for="quantiteAccordeeDLF" class="form-label fw-bold">Qte accordée DLF </label>
                <input id="quantiteAccordeeDLF"  disabled type="number" name="quantiteAccordeeDLF" required  [(ngModel)]="ArticleBonSortieByIdentifiantBonSortie(articleBonPour)!.quantiteAccordeeDLF"
                  class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
              </ng-template>
            </ng-container>
            </div>



            <div class="col-3 mx-auto form-group">
            </div>

          </div>




          <div class="row">
            <div class="col-12 text-end">
              <button type="submit" id="article-bon-sortie-form" hidden class="btn btn-myprimary fw-bold mx-2"
                data-bs-toggle="tooltip" title="cliquer ici pour valider">
                Valider
              </button>
            </div>
          </div>

        </form>
      </div>

      <div class="container px-3 py-2">
        <div class="row">
          <div class="col-12 text-end">

            <button type="button"  (click)="submitArticleBonSortieForm()" [disabled]="ArticleBonSortieForm.invalid  || (BonSortieForm.invalid)" class="btn btn-mysecondary fw-bold mx-2" [hidden]="!estSection && !estBLM"
            data-bs-toggle="tooltip" title="cliquer ici pour transmettre">
            Transmettre
            </button>
            <button (click)="submitArticleBonSortieForm()" type="button"
              [disabled]="ArticleBonSortieForm.invalid  || (BonSortieForm.invalid)" [hidden]="estBAF || estBLM || estSection"
              class="btn btn-mysecondary fw-bold mx-2" data-bs-toggle="tooltip" title="cliquer ici pour continuer">
              Continuer
            </button>

            <button (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
              data-bs-toggle="tooltip" title="cliquer ici pour retourner">
              Retour
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
