<div class="card shadow">

  <div class="card-header text-center fw-bold bg-myprimary fs-5">
      Ajouter
  </div>

  <div class="card-body">
      <div class="text-center fw-bolder bg-myprimary mt-1" role="alert">
         Dotation véhicule
      </div>

      <div class="container px-3 py-2">
          <!-- <app-bordereau-livraison-ajouter></app-bordereau-livraison-ajouter> -->
          <form  class="form" #ArticleBonSortieForm="ngForm" (ngSubmit)="ajouterArticleBonSortie(ArticleBonSortieForm)">

              <div class="row g-4 mb-3">


                  <div class="col-3 mx-auto form-group">
                      <label for="quantiteAccordee" class="form-label fw-bold">Quantité accordée </label>
                      <input id="quantiteAccordee" type="number" name="quantiteAccordee" required ngModel
                          class="text-input form-control bg-mywhite border  border-myprimary px-1 text-uppercase">
                  </div>


                  <div class="col-3 mx-auto form-group">


                  </div>

                  <div class="col-3 mx-auto form-group">


                  </div>


              </div>




              <div class="row">
                  <div class="col-12 text-end">
                      <button type="submit"  id="article-bon-sortie-form" hidden
                          class="btn btn-myprimary fw-bold mx-2" data-bs-toggle="tooltip"
                          title="cliquer ici pour valider">
                          Valider
                      </button>
                  </div>
              </div>

          </form>
      </div>

      <div class="container px-3 py-2">
          <div class="row">
              <div class="col-12 text-end">
                  <button  (click)="submitForm()" type="button" [disabled]="ArticleBonSortieForm.invalid "
                      class="btn btn-myprimary fw-bold mx-2" data-bs-toggle="tooltip"
                      title="cliquer ici pour continuer">
                      Continuer
                  </button>

                  <button  (click)="popupFermer()" type="button" class="btn btn-mysecondary fw-bold mx-2"
                      data-bs-toggle="tooltip" title="cliquer ici pour retourner">
                      Retour
                  </button>
              </div>
          </div>
      </div>
  </div>

</div>


